.bg_red, .bg_red .note__title, .bg_red .note__text {
  background: #FF8A80;
}

.bg_red {
  .note__title {
    border-bottom: 1px solid #FF8A80 !important;
  }
}

.bg_blue, .bg_blue .note__title, .bg_blue .note__text {
  background: #82B1FF;
}

.bg_blue {
  .note__title {
    border-bottom: 1px solid #82B1FF !important;
  }
}

.bg_green, .bg_green .note__title, .bg_green .note__text {
  background: #CCFF90;
}

.bg_green {
  .note__title {
    border-bottom: 1px solid #CCFF90 !important;
  }
}

.bg_purple, .bg_purple .note__title, .bg_purple .note__text {
  background: #B388FF;
}

.bg_purple {
  .note__title {
    border-bottom: 1px solid #B388FF !important;
  }
}

.bg_white, .bg_white .note__title, .bg_white .note__text {
  background: white;
}

.bg_white {
  .note__title {
    border-bottom: 1px solid white !important;
  }
}
