<template>
  <div class="add-note" :class="bgColor">
    <form>
      <div class="title">
        <input type="text" placeholder="Введите заголовок" v-model="title" class="note__title">
        <md-button class="md-icon-button md-primary" @click="changeStatus()">
          <md-icon style=" color: #747474;">{{getStar}}</md-icon>
        </md-button>
      </div>
      <md-field>
        <md-textarea v-model="desk" md-autogrow></md-textarea>
      </md-field>
      <color-picker @change-color="onChangeColor" class="color_picker"/>
    </form>
    <div class="buttons">
      <md-button class="md-icon-button md-primary color-lens">
        <md-icon style=" color: #747474;">color_lens</md-icon>
      </md-button>
      <md-button class="save" @click="saveNote()">Сохранить</md-button>
    </div>
  </div>
</template>

<script>
  import {mapMutations} from "vuex";
  import ColorPicker from "../components/ColorPicker";


  export default {
    name: "add-note",
    components: {
      ColorPicker
    },
    data: () => ({
      title: "",
      color: "white",
      desk: "",
      status: "new"
    }),
    computed: {
      getStar() {
        return this.status === 'new' ? 'star_border' : 'star'
      },
      bgColor() {
        switch (this.color) {
          case "red":
            return "bg_red";
          case "blue":
            return "bg_blue";
          case "green":
            return "bg_green";
          case "purple":
            return "bg_purple";
          default:
            return "bg_white";
        }
      }
    },
    methods: {
      ...mapMutations(["addNote"]),
      changeStatus() {
        this.status = this.status === 'new' ? 'picked' : 'new';
      },

      saveNote() {
        this.addNote({title: this.title, desk: this.desk, color: this.color, status: this.status});
        this.title = "";
        this.desk = "";
        this.color = "white";
        this.status = "new";

      },
      onChangeColor($event) {
        this.color = $event;
      }
    }

  }
</script>
<style lang="scss" scoped>
  .add-note {
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    position: relative;
    background: white;
    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      padding: 0 50px;
      width: 100%;
      .save {
        font-family: Roboto, sans-serif;
        font-weight: bold;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      width: 400px;

      height: 250px;

      .title {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        input {
          height: 50px;
          border: 0;
          padding-left: 25px;
          border-bottom: 1px solid #e8e8e8;
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: bold;
          width: 100%;
          outline: none;
        }
      }
      textarea {

        outline: none;
        border: 0;

        width: 400px;
        font-family: Roboto, sans-serif;
        resize: none;
        height: 200px;

        padding: 10px 0 10px 25px;

      }
    }
  }

  @import "../styles/bgcolors";

  .md-textarea {
    outline: none;
    resize: none;
    padding-left: 15px;

  }

  .md-field:after, .md-field:before {
    height: 0;
  }

  .color_picker {
    position: relative;
    top: 210px;

  }

</style>
