<template>
  <div>
    <note v-for="note in getNotes('archive')" :key="'notea' + note.id" :note="note" :id="note.id"/>
  </div>
</template>

<script>
  import Note from "../components/Note"
  import {mapGetters} from "vuex"
  export default {
    name: "archive-page",
    components: {
      Note
    },
    computed: {
      ...mapGetters(['getNotes'])
    }
  }
</script>

<style lang="scss" scoped>
  div {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin: 30px 0 0 300px;
    width: 1200px;
    flex-wrap: wrap;

  }

</style>
