<template>
  <div class="colors">
    <div v-for="color in colors" :key="'color' + color" :class="color" @click="changeColor(color)">
    </div>
  </div>
</template>

<script>
  export default {
    name: "color-picker",
    data: () => ({
      colors: ['red', 'blue', 'green', 'purple', 'white'],
    }),
    computed: {},
    methods: {
      changeColor(value) {
        this.$emit('change-color', value)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .colors {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 150px;
    display: flex;
    background: white;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0px;
    height: 40px;
    bottom: 40px;

    .purple, .red, .blue, .green, .white {
      width: 25px;
      height: 25px;
      border-radius: 30px;
      border: 1px solid #f3f3f3;

    }
    .purple {
      background-color: #B388FF;
    }
    .blue {
      background-color: #82B1FF;
    }
    .green {
      background-color: #CCFF90;
    }
    .red {
      background-color: #FF8A80;
    }
    .white {
      background-color: white;

    }
  }
</style>
