<!--<template>-->
<!--<button @click="$emit('show')"></button>-->
<!--</template>-->
<template>
  <div id="head">
    <div class="hmenu">
      <ul>
        <li>
          <md-button class="md-icon-button md-primary" @click="showSidebar = !showSidebar">
            <md-icon style=" color: #715300;">menu</md-icon>
          </md-button>
        </li>
        <li class="md-display-1">Notes</li>
        <li><input type="text" placeholder="Поиск" v-model="search"></li>
        <li>
          <md-button class="md-icon-button md-primary find" style="top: 0px;
           right: 630px;">
            <md-icon style=" color: #715300;">search</md-icon>
          </md-button>
        </li>
      </ul>
    </div>
    <transition name="slide">
      <Sidebar v-show="showSidebar"/>
    </transition>
  </div>

</template>

<script>
  import Sidebar from "../components/Sidebar";
  import {mapMutations} from "vuex";

  export default {
    name: "head-menu",
    components: {
      Sidebar

    },
    data: () => ({
      showSidebar: true,
      search: '',
    }),
    watch: {
      search(newval) {
        this.setSearch(newval);
      },
    },
    methods: {
      ...mapMutations(["setSearch"]),
    }

  }
</script>

<style lang="scss" scoped>
  #head {
    height: 60px;
    width: 100%;
    background: #FFBB00;
    div {
      height: inherit;
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .md-display-1 {
          color: #715300;
          font-size: 28px;
          width: 300px;

        }

        li {
          list-style: none;
          margin: 0 15px;
          input {
            width: 600px;
            height: 45px;
            background: #F5B400;
            border-radius: 3px;
            border: 0;
            padding-left: 50px;
            color: #715300;
            font-size: 14px;
            transition: .3s;
          }
          input:focus {
            background: white;
            outline: #F3f3f3 1px solid;

          }
        }

      }
    }
    .slide-enter-active, .slide-leave-active {
      transition: all .3s cubic-bezier(.65, .05, .36, 1);
    }
    .slide-enter, .slide-leave-active {
      left: -100%;
    }

  }

</style>
