<template>
  <div id="notes-page">
    <add-note/>
    <h4>Закреплённые</h4>
    <div class="pin-notes">
      <note v-for="note in getNotes('picked')" :key="'notep' + note.id" :note="note" :id="note.id"/>
    </div>
    <h4>Новые</h4>
    <div class="pin-notes">
      <note v-for="note in getNotes('new')" :key="'noten' + note.id" :note="note" :id="note.id"/>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import Note from "../components/Note";
  import AddNote from "../components/AddNote";

  export default {
    name: "notes-page",
    components: {
      AddNote, Note
    },
    computed: {
      ...mapGetters(["getNotes"])
    }
  }
</script>

<style lang="scss" scoped>
  #notes-page {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
    margin-left: 300px;
    .pin-notes {
      padding-top: 30px;
      display: flex;
      max-width: 1200px;
      min-width: 700px;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  h4 {
    margin-top: 30px;
  }
</style>
