<template>

  <div class="note" :class="bgColor">
    <form class="note__form">
      <div class="title">
        <input type="text" placeholder="Заголовок" class="note__title" v-model="title" :disabled="!isEdit">
        <md-button class="md-icon-button md-primary pin-button" @click="changeStatus()">
          <md-icon style=" color: #747474;">{{getStar}}</md-icon>
        </md-button>
      </div>
      <md-field>
        <md-textarea v-model="desk" md-autogrow :disabled="!isEdit"></md-textarea>
      </md-field>
      <color-picker v-show="show" @change-color="onChangeColor"/>
    </form>
    <p>{{getDate}}</p>
    <div class="buttons">
      <md-button v-if="!isEdit" class="md-icon-button md-primary" @click="isEdit = true">
        <md-icon style=" color: #747474;">edit</md-icon>
      </md-button>
      <md-button v-else class="md-icon-button md-primary" @click="saveNote()">
        <md-icon style=" color: #747474;">save</md-icon>
      </md-button>
      <md-button class="md-icon-button md-primary" @click="show = !show">
        <md-icon style=" color: #747474;">color_lens</md-icon>
      </md-button>
      <md-button class="md-icon-button md-primary" @click="changeArchive()">
        <md-icon style="color: #747474;">{{onArchive}}</md-icon>
      </md-button>
      <md-button class="md-icon-button md-primary" @click="deleteNoteById(id)">

        <md-icon style=" color: #747474;">delete</md-icon>
      </md-button>
    </div>
  </div>

</template>

<script>
  import {mapMutations} from "vuex";
  import NoteMixin from "../mixins/note.mixin";
  import ColorPicker from "./ColorPicker";

  export default {
    components: {ColorPicker},
    name: "note",
    mixins: [NoteMixin],
    props: {
      note: {
        type: Object,
        required: true,
      },
      id: {
        required: true,
      }
    },
    data: () => ({
      show: false,
      isEdit: false,

    }),
    methods: {
      ...mapMutations(["editNoteById", "deleteNoteById"]),
      saveNote() {
        this.editNoteById({id: this.id, data: {title: this.title, desk: this.desk}});
        this.isEdit = false;
      },
      onChangeColor($event) {
        this.bgColor = $event;
      }
    },
    computed: {
      status: {
        get() {
          return this.note.status;
        },
        set(value) {
          this.editNoteById({id: this.id, data: {status: value}})
        }
      },
      bgColor: {
        get() {
          switch (this.note.color) {
            case "red":
              return "bg_red";
            case "blue":
              return "bg_blue";
            case "green":
              return "bg_green";
            case "purple":
              return "bg_purple";
            default:
              return "bg_white";
          }
        },
        set(value) {
          this.editNoteById({id: this.id, data: {color: value}})
        }
      },
      getDate() {
        const date = new Date(this.note.date);
        const fullDate = (value) => value < 10 ? '0' + value : value;
        return fullDate(date.getHours()) + ':' + fullDate(date.getMinutes()) + ', ' + fullDate(date.getDate()) + '.' + fullDate(date.getMonth() + 1) + '.' + date.getFullYear();

      },
      title: {
        get() {
          return this.note.title;
        },
        set(value) {
          this.editNoteById({id: this.id, data: {title: value}})
        }
      },
      desk: {
        get() {
          return this.note.desk;
        },
        set(value) {
          this.editNoteById({id: this.id, data: {desk: value}})

        }
      }
    },
  }
</script>

<style lang="scss" scoped>


  .note {
    background-color: white;
    width: 350px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 15px 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100%;
  }

  .note__form {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    width: 100%;
    min-height: 200px;

    .title {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      height: 50px;

      .note__title {
        height: 50px;
        border: 0;
        padding-left: 25px;
        border-bottom: 1px solid #e8e8e8;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        outline: none;
      }
    }
    .note__text {

      outline: none;
      border: 0;
      border-bottom: 1px solid #e8e8e8;
      width: 350px;
      font-family: Roboto, sans-serif;
      resize: none;

      padding: 10px 0 10px 25px;

    }
  }

  @import "../styles/bgcolors";
  .md-textarea {
    outline: none;
    resize: none;
    padding-left: 15px;

  }

  .md-field:after, .md-field:before {
    height: 0;
  }

</style>
