<template>
  <div id="sidebar">
    <ul class="menulist">
      <router-link tag="li" :to="{path: '/'}">
        <i class="material-icons">
          home
        </i>
        <span>Главная</span>
      </router-link>
      <router-link tag="li" :to="{path: 'archive'}">
        <i class="material-icons">
          archive
        </i>
        <span>Архив</span>
      </router-link>
      <li>
        <i class="material-icons">
          delete
        </i>
        <span>Корзина</span>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "sidebar",
    data: () => ({})
  }
</script>

<style lang="scss" scoped>
  #sidebar {
    position: fixed;
    left: -10px;
    top: 65px;
    transition: all 0.2s ease-in-out;
    #sidebar :hover {
    }
    .menulist {
      display: flex;
      width: 250px;
      flex-direction: column;
      justify-content: center;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        height: 50px;
        padding-left: 30px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        span {
          padding-left: 30px;
          font-size: 12px;
        }
      }
      li:hover {
        background-color: #cccccc;
        cursor: pointer;
      }
    }
  }

</style>
