<template>
  <div id="app">
    <head-menu/>
    <router-view/>
  </div>

</template>

<script>
  import HeadMenu from "./components/HeadMenu"
  import AddNote from "./components/AddNote"
  import NotesPage from "./components/NotesPage";
  import {mapMutations} from "vuex";

  export default {
    name: 'app',
    components: {
      NotesPage,
      HeadMenu, AddNote
    },
    methods: {
      ...mapMutations(['getNotesFromLocalStorage'])
    },
    mounted() {
      this.getNotesFromLocalStorage();
    }

  }
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

</style>
